body, h1, h2, p, table {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flex; /* Use flexbox to create a layout */
    max-width: 1200px; /* Increase max width to accommodate the sidebar */
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    justify-content: space-between; /* Create space between main content and sidebar */
}

.main-content {
    flex: 1; /* Allow the main content to take up remaining space */
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
}

.sidebar {
    width: 250px; /* Set the width of the sidebar */
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

thead th {
    background-color: #333;
    color: #fff;
}

tbody tr:hover {
    background-color: #f5f5f5;
}

.card {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

input[type="date"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button#filterButton {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

button#filterButton:hover {
    background-color: #555;
}